.App {
  text-align: left;
  background-repeat: no-repeat;
  background-size: cover;                                
}
body {
  margin: 0;
  padding: 0;
}
.login{
  margin: 0;
  height: 100vh;
  width: 100vw;
  background-image: url("fondo1.png");
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.titulo-label {
  text-align: left;
  font-weight: bold;
}
.boton-color {
  text-align: center;
  background-color: blue;
  color: white;
  border: 2px solid blue;
  border-radius: 5px; 
  padding: 10px 20px; 
}
.tabla-estilo {
  width: 100%;
  border-collapse: collapse;
  margin-left: 20px;
  /* Agrega otros estilos si lo necesitas */
}
.containermi {

  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  margin-left: 60px;
  margin-right: 60px;
}
.containermo {

  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0;
  margin-left: 60px;
  margin-right: 60px;
}

input {
  margin-bottom: 1px; /* Agrega un margen inferior para separar el campo de entrada de texto de la tabla */
}

.busqueda{
  width: 100%;
  display: inline-block;
  
}
.columnas{
  background-color: #a7c4da;
  border: 1px solid #ddd;
  
}
.bg-custom {
  background-color: #5786aa;
}

.filas{
  border-bottom: 1px solid #746e6e;
}
i.fas.fa-filter {
  font-size: 24px;
  color: blue;
}
.search-container {
  width: 300px;
}
.alado{
  margin-left: 20px;
}
.estilo-buscar{
  width: 500px;
  border-radius: 3px;
}
.estilo-filtrar{
  margin-left: 20px;
}
.tabla-ventas {
  margin-left: 50px;
  width: 1000px;
  margin: 0 auto;
}

.tabla-ventas th, .tabla-ventas td {
  width: 20%;
  text-align: center;
}


.imprimir{
  margin-top: 50px;
  margin-left: 1300px;
  border-color: #61dafb;
}

@media print {
  .imprimir-solo {
    display: block;
  }
}






